{% extends 'blog/base.html.twig' %}

{% block title %}
	{{niveau.designation}}!
{% endblock %}

{% block body %}
	<div class="container mb-4">
		<div class="row g-5">
			<div class="col">
				<h3 class="pb-4 mb-4 fst-italic border-bottom">Niveau :
					{{niveau.designation}}</h3>
				<div id="publication-list">
					{% include "widget/categories.html.twig" with {categories:niveau.categories} %}
					{# {% include "publications/list.html.twig" with {publications: categories.publication , leftCol:4, rightCol:8} %} #}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
