<div class="p-4 mb-3 rounded">
	<h4 class="fst-italic">Catégories</h4>
	<ol class="list-unstyle mb-0">
		{% for categorie in categories %}
			<li>
				<a class="text-decoration-none" href="{{path('app_categories_show',{'slug':categorie.slug})}}">{{categorie.nom}}</a>
			</li>
		{% endfor %}

	</ol>
</div>
